* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(grey, red), url('../public/img/art-g392add423_1920.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.home-background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  z-index: -1;
}

#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  overflow: auto;
  width:5px;
}

::-webkit-scrollbar-track {
  background: #313135;
}

::-webkit-scrollbar-thumb {
  background: rgb(26, 25, 25);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 2, 2);
}