* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-track {
  background: #17171f;
}

::-webkit-scrollbar-thumb {
  background: rgb(17, 17, 17);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(153,0,0);
}