$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$bgcolor1: #17171f;
$bgcolor2: rgb(153,0,0);
$bgcolor3: rgb(5,5,5);


.home-welcome-container {
    position: relative;
    display: flex;
    margin: 150px 75px 50px 75px;
    width: auto;
    height: auto;
    padding: 0;
    font-family: $font;
    background-color: $bgcolor1;
    color: white;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 15px 15px 20px 15px $bgcolor3;
}

.home-welcome-text {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 200rem;
    height: 11rem;
    margin: 55px;
    font-family: $font;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 6px 6px 3px $bgcolor3;
}

.home-text-span {
    color: $bgcolor2;
    font-size: larger;
    white-space: nowrap;
}

.text-animation:after {
    content: '|';
    color: white;
    animation: blink 1s step-start infinite;
    text-shadow: none;
    border: none;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.home-scrolldown-block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    margin: auto;
    padding: 0;
}

.home-scrolldown-logo {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid $bgcolor2;
    border-right: 5px solid $bgcolor2;
    transform: rotate(45deg);
    box-shadow: 6px 6px 2px $bgcolor3;
    margin: -3px;
    animation: animate 2s infinite;

    &:nth-child(2) {
        animation-delay: 0.2s;
    }

    &:nth-child(3) {
        animation-delay: 0.4s;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}