.background-parallax {
    position: relative;
    height: 100%;
    background-image: url('../../public/img/bg-prl.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
}

.exercices-body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}