$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$bgcolor1: #17171f;
$bgcolor2: rgb(153,0,0);
$bgcolor3: rgb(5,5,5);
$bgcolor4: #047e29;


// The contact Form 
.contact-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 45%;
    height: 40rem;
    margin-bottom: 150px;
    font-family: $font;
    background-color: $bgcolor1;
    color: white;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 2px $bgcolor3, -2px -2px 4px $bgcolor3;
    animation: glowing 2.5s infinite alternate;
}

@keyframes glowing {
    100% {
        box-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 0, 34),
        0 0 80px rgb(255, 0, 34),
        0 0 90px rgb(255, 0, 34),
        0 0 100px rgb(255, 0, 34),
        0 0 150px rgb(255, 0, 34);
    }
    0% {
        box-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px rgb(255, 0, 34),
        0 0 45px rgb(255, 0, 34),
        0 0 55px rgb(255, 0, 34),
        0 0 70px rgb(255, 0, 34),
        0 0 80px rgb(255, 0, 34);
    }
}
.contact-form-label {
    margin: 30px 0 10px 0;
    text-shadow: 2px 2px $bgcolor3;
    color: white;
    font-size: larger;
}
.form-input {
    font-family: $font;
    border: none;
    border-radius: 4px;
    width: 18rem;
    height: 2rem;
    padding: 3px 3px 3px 10px;
    box-shadow: 2px 2px 2px 1px $bgcolor3;
    font-size: large;
}
.contact-form-message {
    width: 28rem;
    max-width: 28rem;
    height: 12rem;
    max-height: 12rem;
    resize: none;
    padding: 15px;
}
.contact-form-send-btn {
    position: relative;
    display: flex;
    background: transparent;
    border: none;
    color: white;
    font-weight: 700;
    background: $bgcolor4;
    padding: 5px 7px 6px 7px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    font-size: medium;
    margin-top: 25px;
    box-shadow: 2px 2px 2px 1px $bgcolor3;
    text-shadow: 1.5px 1.5px $bgcolor3;
}