.footer-container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 12vh;
    min-height: 12vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    bottom: 0;
    border: 4px solid black;
}

.footer-ul {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: 2px solid red;
}