$bgcolor1: #17171f;
$bgcolor2: rgb(153,0,0);
$bgcolor3: rgb(5,5,5);



.header-container{
    position: relative;
    display: flex;
    width: auto;
    height: 6vh;
    min-height: 6vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 0;
    background-color: $bgcolor1;
    opacity: 0.8;
}

.header-ul {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    top: 0;
}

.header-btn {
    font-family: 'Roboto', sans-serif;
    position: relative;
    cursor: pointer;
    background-color: $bgcolor1;
    opacity: 0.9;
    border: none;
    font-weight: 600;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $bgcolor2;
        transform-origin: bottom right;
        transition: transform 0.3s ease-in-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.link-active {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $bgcolor2;
    box-shadow: 2px 2px 6px 2px $bgcolor3;
}